<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>anywheresoftware.b4i.example.bridge</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>B4i-Bridge</string>
	<key>CFBundleDisplayName</key>
    <string>B4i-Bridge</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UILaunchImages</key>
	<array>
    <dict>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageName</key>
        <string>Default-667h</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
    </dict>
    <dict>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageName</key>
        <string>Default-736h</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
    </dict>
	  <dict>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageName</key>
        <string>Default-568h</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
    </dict>
	<dict>
		<key>UILaunchImageMinimumOSVersion</key>
		<string>7.0</string>
		<key>UILaunchImageName</key>
		<string>Default</string>
		<key>UILaunchImageOrientation</key>
		<string>Portrait</string>
		<key>UILaunchImageSize</key>
		<string>{320, 480}</string>
  </dict>
	

	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon-60</string>
				<string>icon-76</string>
			</array>
		</dict>
	</dict>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
		<string>armv7</string>
    	
    </array>
    <key>UISupportedInterfaceOrientations</key>
		<array>
		<string>UIInterfaceOrientationPortrait</string>
<string>UIInterfaceOrientationLandscapeLeft</string>
<string>UIInterfaceOrientationLandscapeRight</string>

		</array>
    <key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
<string>UIInterfaceOrientationLandscapeLeft</string>
<string>UIInterfaceOrientationLandscapeRight</string>
<string>UIInterfaceOrientationPortraitUpsideDown</string>

		</array>
	<key>LSApplicationQueriesSchemes</key><array><string>b4idebug0</string><string>b4idebug1</string><string>b4idebug2</string><string>b4idebug3</string><string>b4idebug4</string><string>b4idebug5</string><string>b4idebug6</string><string>b4idebug7</string></array>
	<key>NSAppTransportSecurity</key><dict><key>NSAllowsArbitraryLoads</key><true/></dict>
	<key>CFBundleURLTypes</key><array><dict><key>CFBundleURLSchemes</key><array><string>b4icloud</string></array></dict>
<dict><key>CFBundleURLSchemes</key><array><string>b4ibridge</string></array></dict>
</array>
	
	
</dict>
</plist>